################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DI/bin/Debug/netcoreapp2.2
/DI/obj
/DI/wwwroot/lib
